footer {
  border-bottom: 100px solid lighten($primary-color, 20%);
  padding: 3em 0 3em 2em;

  a {
    display: block;
    margin: 0.7em 0;
    font-weight: bold;

    &, &:hover {
      color: $dark-font-color;
    }
  }

  .pencil-container {
    text-align: center;

    i {
      font-size: 3em;
      transform: rotate(-45deg);
      color: lighten($dark-font-color, 10%);
    }
  }
}
